@import "tailwindcss";

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-onest: 'Onest', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

h1, h2, h3 {
  font-family: var(--font-onest);
}

h1, h2, h3 {
  font-family: var(--font-poppins);
}

h4, h5, h6 {
  font-family: var(--font-onest);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 300s linear infinite;
}