@import "tailwindcss";

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-onest: 'Onest', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

h1, h2, h3 {
  font-family: var(--font-onest);
}

h1, h2, h3 {
  font-family: var(--font-poppins);
}

h4, h5, h6 {
  font-family: var(--font-onest);
}

button, a {
  font-family: var(--font-onest);
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 300s linear infinite;
}


.scrollbar-1::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-1::-webkit-scrollbar-track {
  background-color: #eff6ff;
  border-radius: 100px;
}
.scrollbar-1::-webkit-scrollbar-thumb {
  /* width: 13px; */
  background: #e4e7ee;
  border-radius: 100px;
  box-shadow: 0px 0px 2px 1px #00000040 inset;
  filter: drop-shadow(0px 1px 1.4px 0px #332983a6);
}
.scrollbar-1::-webkit-scrollbar-thumb:hover {
  background: #e5e7eb;
  border-radius: 10px;
}